body {
    background-color: rgb(15, 15, 15);
    padding: 150px;
    text-align: center;
    font: 20px Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-size: 60px;
}

article {
    display: block;
    text-align: left;
    width: 650px;
    margin: 0 auto;
}

p {
    text-align: center;
}

a {
    color: #dc8100;
    text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}

.image {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .7s ease-in-out;
}

.image:hover {
    transform: rotate(360deg);
}
